<!DOCTYPE html>
<html lang = "en">
  <head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	<title>Wine Visulization</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/themes/bootstrap.min.css">    
<!--    <link rel="stylesheet" href="/static/themes/jquery-ui.min.css">-->
    <link rel="stylesheet" href="/static/themes/jquery-ui.css">
    <link rel="stylesheet" href="/static/themes/radar-chart.min.css">
	<link rel="stylesheet" href="/static/themes/index.css">
  </head>
  <body>
  	<!-- Part 1: Wrap all page content here -->
  	<div id="wrapper">
	  	<div class="navbar navbar-default navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <a href="" class="navbar-brand">Visulization of Wine Dataset for 2IMV20, TU/e</a>
	        </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="navbar">
                    <li>
                      <a href="/heatmap" target="_blank">Heat Map</a>
                    </li>
                    <li>
                      <a href="/static/analysis.pdf" target="_blank">Anlysis</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <!-- Content -->
	    <div id="content" class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="featurette">
                        <h2 class="featurette-heading">Overview of the data set</h2>
                        <p class="lead">
                            <span class="text-muted"></span>
                        </p>
                    </div>
                    <div class="col-md-6">                    
                        <div class="btn-group" role="group" aria-label="tool bar" id = "comparisonToolBar" style="margin-left:60px;">
                            <button type="button" class="btn btn-default" title="x label" disabled>Statistics</button>
                            <button type="button" class="btn btn-default">max</button>
                            <button type="button" class="btn btn-default">min</button>
                            <button type="button" class="btn btn-default active">median</button>
                            <button type="button" class="btn btn-default">mean</button>
                            <button type="button" class="btn btn-default">variance</button>
                            <button type="button" class="btn btn-default">deviation</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="compareGoodBadWinesFilter" style="margin-top: 5px;">
                            <div id="percentageOfDataConsidered"></div>
                            <span style="margin-top: 10px;" id="percentageOfDataConsideredValue"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--statistics of the dataset with bar chart-->
                <div class="col-md-12">
                    <div id="compareGoodBadWines">
                        <svg style="width: 100%; height: 550px">
                            <!--group, contains the visualized charts-->
                            <g></g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--scatter plot-->
                <div class="col-md-8">
                    <div class="featurette">
                        <h2 class="featurette-heading">Exploration</h2>
                        <p class="lead">
                            <span class="text-muted"></span>
                        </p>
                    </div>
                    <div id = "scatterToolBar">
                        <div class="btn-group row" role="group" aria-label="tool bar" id="xLabelBtns" style="margin-left:60px;">
                            <button type="button" class="btn btn-default" title="x label" disabled>X-Label</button>
                            <button type="button" class="btn btn-default" title="fixed acidity">FAC</button>
                            <button type="button" class="btn btn-default" title="volatile acidity">VAC</button>
                            <button type="button" class="btn btn-default" title="citric acid">CAC</button>
                            <button type="button" class="btn btn-default" title="residual sugar">RSU</button>
                            <button type="button" class="btn btn-default" title="chlorides">CHL</button>

                            <button type="button" class="btn btn-default" title="free sulfur dioxide">FSD</button>
                            <button type="button" class="btn btn-default" title="total sulfur dioxide">TSD</button>
                            <button type="button" class="btn btn-default" title="density">DEN</button>
                            <button type="button" class="btn btn-default" title="pH">pH</button>
                            <button type="button" class="btn btn-default" title="sulphates">SUL</button>
                            <button type="button" class="btn btn-default active" title="alcohol">ALC</button>
                            <button type="button" class="btn btn-default" title="quality">QUA</button>
                        </div>
                        <div class="btn-group row" role="group" aria-label="tool bar" id="yLabelBtns" style="margin-left:60px;">
                            <button type="button" class="btn btn-default" title="y label" disabled>Y-Label</button>
                            <button type="button" class="btn btn-default" title="fixed acidity">FAC</button>
                            <button type="button" class="btn btn-default" title="volatile acidity">VAC</button>
                            <button type="button" class="btn btn-default" title="citric acid">CAC</button>
                            <button type="button" class="btn btn-default" title="residual sugar">RSU</button>
                            <button type="button" class="btn btn-default" title="chlorides">CHL</button>

                            <button type="button" class="btn btn-default" title="free sulfur dioxide">FSD</button>
                            <button type="button" class="btn btn-default" title="total sulfur dioxide">TSD</button>
                            <button type="button" class="btn btn-default" title="density">DEN</button>
                            <button type="button" class="btn btn-default" title="pH">pH</button>
                            <button type="button" class="btn btn-default" title="sulphates">SUL</button>
                            <button type="button" class="btn btn-default" title="alcohol">ALC</button>
                            <button type="button" class="btn btn-default active" title="quality">QUA</button>
                        </div>
                        <div class="btn-group row" role="group" aria-label="tool bar" id="zLabelBtns" style="margin-left:60px;">
                            <button type="button" class="btn btn-default" title="z label" disabled>Z-Label</button>
                            <button type="button" class="btn btn-default" title="fixed acidity">FAC</button>
                            <button type="button" class="btn btn-default" title="volatile acidity">VAC</button>
                            <button type="button" class="btn btn-default" title="citric acid">CAC</button>
                            <button type="button" class="btn btn-default" title="residual sugar">RSU</button>
                            <button type="button" class="btn btn-default" title="chlorides">CHL</button>

                            <button type="button" class="btn btn-default" title="free sulfur dioxide">FSD</button>
                            <button type="button" class="btn btn-default" title="total sulfur dioxide">TSD</button>
                            <button type="button" class="btn btn-default" title="density">DEN</button>
                            <button type="button" class="btn btn-default" title="pH">pH</button>
                            <button type="button" class="btn btn-default" title="sulphates">SUL</button>
                            <button type="button" class="btn btn-default" title="alcohol" disabled>ALC</button>
                            <button type="button" class="btn btn-default" title="quality" disabled>QUA</button>
                        </div>
                        <div class="row" id="compareGoodBadWinesFilter" style="margin-top:10px;">
                            <div class="col-md-5" style="margin-left:60px;">
                                <div>
                                    <div id="numberOfBinsSlider"></div>
                                    <span style="margin-top: 10px;" id="numberOfBins">Number of bins</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <div id="qualityIntervalSlider"></div>
                                    <span style="margin-top: 10px;" id="qualityInterval">Quality</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scatterPlot">
                        <svg style="width: 100%; height: 550px">
                            <!--group, contains the visualized charts-->
                            <g></g>
                        </svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--radar chart-->
                    <div id="instanceRadarChart" style="margin:60px auto 0 auto;">
                        <svg style="width: 100%; height: 100%;">
                            <!--group, contains the visualized charts-->
                            <g></g>
                        </svg>                    
                    </div>
                    <div style="font-size: 2em;" class="text-center" id = "instanceRadarChartTitle"></div>
                </div>
            </div>
  		<div id="push"></div>
  	</div>
  </div>
	<!-- back to top -->
	<div id="backToTop">
		<a href="#" title="Scroll back to top"></a>
	</div>
	<div id="footer">
		<div class="container">
			<p class="text-muted" style="text-align: center;">Copyright &copy; <a href="https://github.com/lukewang7">Qiyue Wang</a>, <a href="https://github.com/lidalei">Dalei Li</a>.</p>
		</div>
	</div>
	<div id="dialog" title="Basic dialog"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3-legend.min.js"></script>
    <script src="/static/js/d3.tip.v0.6.3.js"></script>
    <script src="/static/js/RadarChart.js"></script>
    <script src="/static/js/index.js"></script>   
  </body>
</html>